<div class="wrapper">

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
  
          <span class="sr-only">Toggle Navigation</span>
  
          <span class="icon-bar"></span>
  
          <span class="icon-bar"></span>
  
          <span class="icon-bar"></span>
  
  
          <a href="#" class="navbar-brand">Luke Janssen</a>
        </div>
  
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right js-nav">
            <li><a href="#home">Home</a></li>
  
            <li><a href="#about">About</a></li>
  
            <li><a href="#folio">Folio</a></li>
  
  
            <li><a href="#contact">Contact</a></li>
  
  
          </ul>
        </div>
      </div>
    </nav>
    </header>
  
    <section id="home" class="sec-main">
      <h1 class="main-heading">WELCOME.</h1>
    </section>
  
    <section id="about" class="sec-about">
      <div class="container">
        <h1>About me</h1>
  
        <hr />
  
        <div class="row">
          <div class="col-sm-6 col-sm-offset-3">
            <p>Hi my name is luke janssen.I am an ambitious wesite designer I can make anything from a smooth scrolling parallax site to an innovative site that revolves around navigation and animation.For the small price of $20.</a>
            </p>
          </div>
        </div>
      </div>
    </section>
    <section id="services" class="sec-services">
      <div class="container">
        <h1>Services</h1>
  
        <hr />
  
        <div class="row">
          <div class="col-sm-4">
            <i class="fa fa-4x fa-paint-brush"></i>
  
            <h2 class="h3">Iconic Design</h2>
  
            <p>Every website I make is tailored to your desired needs.</p>
          </div>
  
          <div class="col-sm-4">
            <i class="fa fa-4x fa-code"></i>
  
            <h2 class="h3">Clean Code</h2>
  
            <p>All websites are written in valid and clean HTML5 / CSS3 &amp; JavaScript (jQuery).</p>
          </div>
  
          <div class="col-sm-4">
            <i class="fa fa-4x fa-tablet"></i>
  
            <h2 class="h3">Always Responsive</h2>
  
            <p>All websites are responsive. They will look great on desktop, tablets and mobile phones too.</p>
          </div>
        </div>
      </div>
    </section>
  
    <section id="folio" class="sec-folio">
      <div class="container">
        <div class="link-boxes inner-content homepage-panel">
          <h2>Projects</h2>
          <div class="link-box-wrapper">
            <div class="link-box">
              <a class="link-box link box-1" href="#">
                <div class="lb-overlay lb-top"></div>
                <div class="lb-top-text">
                  <h3>Project 1</h3>
                  <p>This is some text that I would use to describe whatever this is hiding.</p>
                </div>
                <div class="lb-overlay lb-bottom">
                  <h4>Click to View</h4></div>
                <div class="lb-screen"></div>
              </a>
            </div>
          </div>
          <!--
                -->
          <div class="link-box-wrapper">
            <div class="link-box">
              <a class="link-box link box-2" href="#">
                <div class="lb-overlay lb-top"></div>
                <div class="lb-top-text">
                  <h3>Project 2</h3>
                  <p>This is some text that I would use to describe whatever this is hiding.</p>
                </div>
                <div class="lb-overlay lb-bottom">
                  <h4>Click to View</h4></div>
                <div class="lb-screen"></div>
              </a>
            </div>
          </div>
          <!--
                -->
          <div class="link-box-wrapper">
            <div class="link-box">
              <a class="link-box link box-3" href="#">
                <div class="lb-overlay lb-top"></div>
                <div class="lb-top-text">
                  <h3>Project 3</h3>
                  <p>This is some text that I would use to describe whatever this is hiding.</p>
                </div>
                <div class="lb-overlay lb-bottom">
                  <h4>Click to View</h4></div>
                <div class="lb-screen"></div>
              </a>
            </div>
          </div>
        </div>
        <figure class="snip1573">
          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample89.jpg" alt="sample89" />
          <figcaption>
            <h3>project4</h3>
          </figcaption>
          <a href="#"></a>
        </figure>
        <figure class="snip1573 hover"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample94.jpg" alt="sample94" />
          <figcaption>
            <h3>project5</h3>
          </figcaption>
          <a href="#"></a>
        </figure>
        <figure class="snip1573"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample92.jpg" alt="sample92" />
          <figcaption>
            <h3>project6 </h3>
          </figcaption>
          <a href="#"></a>
        </figure>
  
        <section id="testimonials" class="sec-testimonials">
  
          <section id="contact" class="sec-contact">
            <div class="container">
              <h1>Hire me</h1>
  
              <hr />
  
              <div class="row">
                <div class="col-sm-4 col-sm-offset-4">
                  <form class="center-block" action="#" method="post">
                    <div class="form-group">
                      <label class="sr-only" for="inputName">Full name</label>
  
                      <input id="inputName" class="form-control" type="text" placeholder="Luke Janssen" required />
                    </div>
  
                    <div class="form-group">
                      <label for="inputMail" class="sr-only">Email Address</label>
  
                      <input id="inputMail" class="form-control" type="email" placeholder="ljanssen@tahoeexpeditionacademy.org" required />
                    </div>
  
                    <div class="form-group">
                      <label for="inputMessage" class="sr-only">Your Message</label>
  
                      <textarea id="inputMessage" class="form-control" name="message" cols="30" rows="8" placeholder="Write down what kind of website and leave $20 and I will make and send the website you want within a week." required></textarea>
                    </div>
  
                    <div class="form-group">
                      <button class="btn btn-default center-block" type="submit" value="Hire me">Hire me</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </section>
  
          <footer id="footer">
            <div class="container">
              <ul class="soc-media-ul">
                <li>
                  <a href="" class="fa fa-twitter" target="_blank"></a>
                </li>
  
                <li>
                  <a href="" class="fa fa-google-plus" target="_blank"></a>
                </li>
  
                <li>
                  <a href="" class="fa fa-linkedin" target="_blank"></a>
                </li>
  
                <li>
                  <a href="" class="fa fa-behance" target="_blank"></a>
                </li>
  
                <li>
                  <a href="" class="fa fa-envelope"></a>
                </li>
              </ul>
            </div>
          </footer>
      </div>